header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}

.start-button {
  width: 7em;
  height: 3em;
  border-radius: 10px;
  color: white;
  background-color: #000;
  border: 1 solid;
  margin-left: 6em;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .25em;
  margin: 0 auto;
  max-width: 40em;
  padding: 0;
}

.card-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  border-radius: 10px;
  height: 35vw;
  max-height: 200px;
}
.flip {
  border: 1px solid #666;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.flip .card {
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.flip .card.flipped {
  -webkit-transform: rotatex(360deg);
  transform: rotatex(360deg);

}

@media all and (max-width: 800px) {
  .card-grid {
    grid-gap: .25em;
  }
}